body {
    font-family: "Amatic SC", cursive;    
    background-image: url("./../Images/scott-webb-146106.jpg");
    background-size: 100%;
    background-position: center;
    margin: 0 auto;
    letter-spacing: 7px;
  }
  
h1 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 0px;
    color: #FCEC52;
    font-weight: bold;
    font-size: 75px;
  }

  h2 {
    margin: 0 auto;
    text-align: center;
    font-size: 50px;
    color: red;
  }
  
p.info {
    text-align: center;
    width: 465px;
    margin: 0 auto;
    font-size: 16px;
    font-weight: bold;
    color: #FA9F42;
    margin-bottom: 0px;
    font-weight: bold;
  }
  
#game-base {
    width: 660px;  
    margin: 0 auto;
    padding-top: 15px;
    justify-content: center;
  }

#collumnbuttons {
    width: 689px;
    text-align: center;
    
}
  
.col-selector {
    background: black;
    background-image: -webkit-linear-gradient(top, black, orange);
    background-image: -moz-linear-gradient(top, black, orange);
    background-image: -moz-linear-gradient(top, black, orange);
    background-image: linear-gradient(top, bottom, black, orange);
    border-radius: 50%;
    border: 0;
    text-shadow: 3px #f2c15e;
    font-family: "Amatic SC", cursive;
    color: #ffffff;
    font-size: 25px;
    padding: 10px 21px; 
    text-decoration: none;
    text-align: center;
    background-size: center;
    margin: 2px 19px;
  }

td {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px;
    padding: 21px;
  }

  table {
      width: 692px;
      height: 590px;
  }

  footer {
      align-content: flex-end;
  }

  a {
    background-color: black;
    color:white;
    text-decoration: none;
    padding: 4px 6px;
    font-family: -apple-system, BlinkMacSystemFont, &quot;San Francisco&quot;, &quot;Helvetica Neue&quot;, Helvetica, Ubuntu, Roboto, Noto, &quot;Segoe UI&quot;, Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.2;
    display: inline-block;
    border-radius: 3px;
  }

  #resetbutton {
    text-align: center;
}

.rbutton {
    background: #FCEC52;
    padding: 10px 21px;
    font-family: "Amatic SC", cursive;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    font-size: 30px;
    background-image: -webkit-linear-gradient(top, orange, black);
    background-image: -moz-linear-gradient(top, orange, black);
    background-image: -moz-linear-gradient(top, orange, black);
    background-image: linear-gradient(top, bottom, orange, black);
}


  /* background-image: url("./../pumpkinicon.png");
  background-size: 100%;
  background-position: center; */